/***************************************HEADER BEGIN***********************************/
header {
    background-color: #54043c   ;
    margin:0;
}



/***************************************BUTTON SEARCH BEGIN***********************************/
.button-search {
    background-color: rgb(255, 255, 255);
    height:38px; 
    width: 40px; 
    padding-left: 1px; 
    padding-top: 6px; 
    margin-left: -4px;
} 
/***************************************BUTTON SEARCH END***********************************/

.title-canvas{
    color:white;
} 
.icon-config::before {
    display: block;
    content: " ";
    height: 50px;
    width: 100%;
    background-position: center center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.icon-perfil::before{
    background-image: url(../images/Users_icon/account.png);
} 

.icon-fav::before{
    background-image: url(../images/Users_icon/favorito.png);
}

.icon-cesta::before{
    background-image: url(../images/Users_icon/shopping-cart.png);
}

.bg-position{
    position: relative;
    top: -54px;
    left: 10px; 
    display: none;
}


.bg-position-mobile{
    position: relative;
    top: -15px;
    left: 80px; 
    display: none;
}

.icon-user{
    display:flex;
    text-align: center;
}



 /***************************************HEADER END***********************************/
 .offcanvas{
    background-color: #1b925a;
}


.offcanvas-body a{
  margin-right: 2px;
    font-size: 25px;
}

.card-body{
    background-color: #1b925a; 
    color: #fff;
} 

.dropdown-item{
    color: #fff;
}



header a:hover{
    color:#1b925a ;
}

ul{
    margin: 0;
    padding: 0;
    } 
    
.ul-canvas-header a {
        padding: 0;
        font-weight: 10px;
}

@media (max-width: 576px) {
    .logo-img{
        display:none;   
    } 

    .icon-user{
        display:none;  
    }

    .search-mobile{
        margin-bottom: 15px;
    } 

    .canvas-mobile{
        display:flex;
    }


} 


@media (max-width:768px){
   .icon-user{
    display:none;
   }
    
nav{
    display:none;
}
.logo-img{
    display:none;   
} 
.block-null{
    display:none; 
}
.canvas-mobile{
    display:flex;
    
}
} 



@media (min-width:770px){
    .canvas-mobile{
        display:none;
       
    }
}
 


